.meme-generator {
    margin: 20px auto;
    width: 400px;
    font-family: sans-serif;
  }
  
  .meme-generator label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .meme-generator input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  #meme {
    width: 80%;
  }
  
  body {
    background-color: pink;
  }

.top {
    top: 10px;
}
.bottom {
    bottom: 10px;
}

.remove-button {
    display: block;
    martin-top: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
