body {
    font-family: Arial, sans-serif;
    background-color: pink;
    text-align: center;
    padding-top: 50px;
}

#memeForm {
    margin: 20px 0;
}

input[type="text"], input[type="file"] {
    padding: 10px;
    margin: 10px;
    display: block;
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.meme {
    position: relative;
    width: 200px; 
    margin: 20px auto;
    display: inline-block;
}

.meme img {
    width: 100%;
    height: auto;
}

.memeText {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.top {
    top: 10px;
}

.bottom {
    bottom: 40px;  /* Adjusted position */
}

.deleteBtn {
    display: block;
    position: absolute; /* Absolute positioning */
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%); /* Centers the button horizontally */
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
